.homePage {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardWrapper {
  display: flex;
  color: #fff;
  text-align: center;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 80px;
}

.title {
  font-size: 60px;
}
