@import url("./../../common/variables.css");
.field {
  background-color: #fff;
  border-radius: 12px;
}
.searchField {
  position: relative;
  color: var(--title-black);
  width: 100%;
}
.searchForm {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.searchButton {
  position: absolute;
  z-index: 111;
  right: 8px;
  top: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.labeledCheckbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-black);
  color: var(--title-black);
  border-radius: 12px;
  padding: 8px 8px 8px 16px;
  max-height: 40px;
  cursor: pointer;
}
.labeledCheckbox:hover {
  border: 1px solid var(--primary-black);
}
.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.flexContainerInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.currency {
  font-size: 16px;
  max-width: 100px;
  min-width: 90px;
}
.roomButtonSelected {
  background-color: #06f;
  color: #fff;
  transition: 0.3s;
}
.roomButton {
  background-color: #fff;
  color: var(--title-black);
}
.roomPrimaryBtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.roomsContainer {
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
}
.filterTitle {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.componentSpacing {
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.defaultSelect {
  color: var(--secondary-black);
}
.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.liked {
  justify-self: flex-start !important;
}
.filterNavItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.filterNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
