@import url("./assets/fonts/fonts.css");
@import url("./common/responsive.css");
@import url("./common/reset.css");

/* styles that have to be global */
.contentWrapper {
  display: flex;
  border: 2px solid white;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
}
.contentWrapper > * {
  flex-grow: 1;
}
.innerPadding {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.filter {
  display: flex;
  background-color: var(--bg-grey);
  flex-direction: column;
  row-gap: 16px;
}
.mobileFilter {
  padding: 0 24px;
}
.headerList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.headerList > * {
  display: flex;
  flex-direction: row;
  margin: 0 16px;
  cursor: pointer;
}
.cardWrapper {
  padding: 88px 32px 32px 32px;
  position: relative;
}
.cardFilter {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerLogo {
  padding: 13px;
  cursor: pointer;
}

.header {
  display: flex;
  height: 64px;
  transition: 0.2s;
  width: 100%;
  position: sticky !important;
  top: 0;
  z-index: 555;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.card {
  border: 1px solid #fff;
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 100%;
  padding: 24px;
  height: auto;
  background: rgba(211, 211, 211, 0.2);
  backdrop-filter: blur(100px);
  justify-content: space-between;
  transition: 0.3s;
}
.card:hover {
  margin-top: -10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cardImg {
  padding: 10%;
}
.cardBtn {
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 24px;
  width: 100%;
  bottom: 0;
  transition: 0.2s;
  font-weight: bold;
}
.cardBtn:hover {
  background-color: #fff;
  color: var(--orange);
  transition: 0.2s;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.cardBtn:active {
  box-shadow: none;
}
.homeTextWrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 20%;
  margin-top: 70px;
  margin-bottom: 60px;
}
