/* --------------breakpoints------------- */
/* Large devices */
@media (min-width: 1920px) {
  .container {
    padding: 0 200px;
  }
  .innerPadding {
    padding: 0 220px;
  }
  .filter {
    padding: 32px;
    border-radius: 32px 0 0 32px;
  }
  .contentWrapper {
    flex-direction: row;
    border-radius: 32px;
  }
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
  }
  .mobileSearch {
    display: none !important;
  }

  .filterNavContainer {
    display: none !important;
  }
}
@media (max-width: 1920px) {
  .container {
    padding: 0 84px;
  }
  .innerPadding {
    padding: 0 112px;
  }
  .filter {
    padding: 32px;
    border-radius: 32px 0 0 32px;
  }
  .contentWrapper {
    border-radius: 32px;
  }
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 150%;
  }
  .mobileSearch {
    display: none !important;
  }
  .filterNavContainer {
    display: none !important;
  }
}

@media (max-width: 1440px) {
  .container {
    padding: 0 44px;
  }
  .innerPadding {
    padding: 0 84px;
  }
  .filter {
    width: 60%;
    padding: 32px;
    border-radius: 32px 0 0 32px;
  }
  .cardWrapper {
    justify-content: center;
    padding: 16px;
  }

  .headerList {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .filter {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
  .innerPadding {
    padding: 0 24px;
  }

  .cardWrapper {
    justify-content: center;
    padding: 16px;
    width: 90%;
  }
  .filter {
    width: 70%;
    padding: 16px;
    gap: 16px;
    border-radius: 32px 0 0 32px;
  }
  .sortBy {
    display: none;
  }
}

/* Medium devices */
@media (max-width: 768px) {
  .container {
    padding: 0px;
    display: flex;
  }
  .innerPadding {
    padding: 0 24px;
  }
  .filter {
    width: 100%;
    border-radius: 0px;
    display: none !important;
  }

  .cardFilter {
    display: none !important;
  }
  .contentWrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border: none !important;
  }
  .mobileSearch {
    margin-top: 16px;
    display: block !important;
  }
  .searchButton {
    top: 24px !important;
  }

  .defaultSearch {
    display: none !important;
  }
  .header {
    background: url("./../assets/images/scrollLogo.svg") 16px 16px/200px
      no-repeat;
    background-color: rgba(250, 250, 250, 1) !important;
    color: #000;
    transition: 0s;
  }
  .headerLogo {
    display: none !important;
  }
  .cardWrapper {
    padding: 32px 0px !important;
    justify-content: center;
  }
  .filterNavContainer {
    display: flex !important;
  }
}

/* Small devices */
@media (max-width: 375px) {
  .container {
    padding: 0 14px;
  }
  .innerPadding {
    padding: 0 14px;
  }
  .contentWrapper {
    overflow: hidden;
  }
}
